/*------------------------------------------------------------------------
	フッター
------------------------------------------------------------------------*/
@use "../../global" as g;

.ly_footer {
	padding: 160px 0;
	
	@include g.mq('md') {
		padding: 130px 0;
	}

	&_img{
		img{
			width: 100%;
		}
	}

	&_logo{
		text-align: center;

		svg{
			width: 125px;
			height: auto;
		}
	}
}