@use "../../global" as g;

/*------------------------------------------
	header
------------------------------------------*/
.header {
	$this: &;
	position: fixed;
	z-index: map-get(g.$z_index, 'header');
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-right: map-get(g.$header_h, 'sm');
	height: map-get(g.$header_h, 'sm');
	background: #F5F5F0;
	
	@include g.mq('md') {
	}
	
	@include g.mq('xl') {
		background: g.color('key');
		padding-right: 0;
		height: map-get(g.$header_h, 'md');
		box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
	}

	&__logo{
		width: 120px;
		height: auto;
		margin-left: 12px;

		@include g.mq('xl') {
			width: 131px;
			margin: 0 20px;
		}

		img{
			width: 100%;
		}
	}

	&__list{
		display: flex;
		align-items: center;

		@include g.mq('lg_max') {
			flex-direction: row-reverse;
		}
	}

	&__item{
		&.is-contact{
			@include g.mq('lg') {
				margin-right: 15px;
			}

			@media screen and (min-width: 1200px) {
				margin-right: 30px;
			}

			a{
				position: relative;
				display: flex;
				align-items: center;
				font-family: g.font('mincho');
				padding: 5px 15px 5px 35px;
				font-size: 1rem;
				line-height: 1.5;
				color: #FFF;
				background: g.color('key');
				
				@include g.mq('md') {
					padding: 10px 66px 10px 38px;
					font-size: 1.2rem;
					letter-spacing: 0.2em;
					border-radius: 25px;
				}
	
				&::after{
					content: "";
					position: absolute;
					top: 0;
					left: 10px;
					bottom: 0;
					width: 15px;
					height: 15px;
					margin: auto;
					background: url(../img/common/icon_btn.svg);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					@include g.mq('md') {
						right: 25px;
						left: auto;
					}
				}
			}
		}

		&.is-instagram,
		&.is-facebook{
			width: 30px;

			@include g.mq('lg_max') {
				display: none;
			}
		}

		&.is-instagram{
			margin-right: 20px;
		}

		&.is-facebook{
			margin-right: 20px;

			@include g.mq('lg') {
				margin-right: 30px;
			}
		}

		&.is-coplus{
			width: 47px;
			margin-right: 10px;

			@include g.mq('md') {
				width: 94px;
				margin-right: 20px;
			}

			@include g.mq('lg') {
				margin-right: 0;
			}
		}
	}

	.gnav._pc{
		.gnav-item{
			@include g.mq('md') {
				height: map-get(g.$header_h, 'md');
			}
		}
	}
}

.cta-bnr {
    background: g.color('key');
    color: #FFF;

    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: map-get(g.$header_h, 'sm');
        position: relative;
        font-size: 10px;
        padding: 0 20px;
        font-weight: normal;
        font-family: g.font('mincho');
        line-height: 1.6;
        
        @include g.mq('md') {
			text-align: center;
			letter-spacing: 0.3em;
        }
        
        @include g.mq('xl') {
			padding: 0 40px 0 50px;
			height: map-get(g.$header_h, 'md');
            min-width: 105px;
            font-size: 20px;
        }

        &::before{
			@include g.mq('xl') {
				content: url(../img/common/icon_next.svg);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				margin: auto;
				width: 18px;
				height: 18px;
				line-height: 0;
			}
        }
    
        span {
            display: block;
            font-family: g.font('source-han');
            font-weight: normal;
            font-size: 10px;
			letter-spacing: 0.1em;

            @include g.mq('md') {
                font-size: 14px;
            }
        }
    }
}