/*------------------------------------------------------------------------
	ヘッダー
------------------------------------------------------------------------*/
@use "../../global" as g;

.ly_header {
	$this: ".ly_header";
	position: relative;
	top: 0;
	left: 0;
	margin: auto;
	min-width: 100%;
	z-index: map-get(g.$z-index, 'header');
	transition: all 0.3s ease;
	background-color: #FFF;

	.ly_header_inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: map-get(g.$header_h, 'sm');

		@include g.mq('sm') {
			margin-left: 4%;
		}
		
		@include g.mq('md') {
			justify-content: flex-start;
			height: map-get(g.$header_h, 'md');
			justify-content: end;
			margin: 0 35px;
		}
	}

	&_logo{
		margin-top: 8px;
		flex-grow: 1;

		svg{
			width: 175px;
			height: auto;
			
			@include g.mq('md') {
				width: 240px;
			}
			
			@include g.mq('lg') {
				width: 306px;
			}
		}
	}

	&_c-logo{
		margin-top: 10px;
		width: 81px;
		height: auto;

		svg{
			.cls-1, .cls-2{
				fill: g.color('key');
			}
		}
	}
	
	&_col {
		display: flex;
		align-items: center;
		gap: 25px;

		@include g.mq('sm') {
			height: 100%;
		}
	}

	&_btn{
		display: inline-flex;
		align-items: center;
		padding: 0 20px;
		height: 100%;
		font-size: 1.2rem;
		font-weight: bold;
		color: g.color('white');
		background-color: g.color('key');
		border-radius: 0;
		
		@include g.mq('md') {
			height: 40px;
			border-radius: 100vmax;
			padding: 0 15px 0 25px !important;
		}
		
		@include g.mq('lg') {
			padding: 0 26px 0 37px !important;
		}

		svg{
			display: inline-block;
			width: 25.16px;
			height: auto;
			vertical-align: middle;
			margin-left: 10px;
			
			@include g.mq('md') {
				width: 11.59px;
				margin-left: 15px;
			}

			@include g.mq('lg') {
				margin-left: 30px;
			}
		}
	}

	&_sns_list{
		display: flex;
		gap: 15px;
	}

	&.is-scroll {
		background-color: #eaefef;
		
		#{$this}_logo{
			.cls-1, .cls-2{
				fill: g.color('key_dark');
			}
		}

		#{$this}_hamburger{
			span{
				background-color: g.color('key_dark');
			}
		}

		#{$this}_btn{
			color: #FFF;
			background-color: g.color('key_dark');
		}
		
		#{$this}_c-logo{
			.cls-1, .cls-2{
				fill: g.color('key_dark');
			}
		}

		#{$this}_item{
			a{
				@include g.mq('lg') {
					color: g.color('key_dark');
				}
			}
		}

		#{$this}_btn{
			svg{
				.cls-1{
					fill: #FFF;
				}
			}
		}
	}
}