/*------------------------------------------------------------------------
	ボタン
------------------------------------------------------------------------*/
@use "../../global" as g;
@use "sass:math";

.el_btn {
	a{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 470px;
		height: 70px;
		margin: 0 auto;
		background-color: g.color('key');
		font-family: g.font('mincho');
		color: #FFF;
		padding: 2px 10px;
		text-align: center;
		font-size: 2.0rem;
		border-radius: 50px;
		box-sizing: border-box;

		@include g.mq('sm') {
			width: 280px;
			height: 50px;
			font-size: 1.2rem;
		}

		span{
			display: inline-block;
			margin-right: 30px;
		}
			
		img{
			position: absolute;
			inset: auto 25px auto auto;
			margin-inline: auto;
			display: block;
			width: 16px;
			height: 16px;
			
			@include g.mq('md') {
				width: 25px;
				height: 25px;
				inset: auto 35px auto auto;
			}
		}

	}
}