/*------------------------------------------------------------------------
	nav
------------------------------------------------------------------------*/
@use "../../global" as g;

.gnav{
    $this: &;
    
	@include g.mq("xl") {
        &._sp{
            display: none;
		}
	}

	@include g.mq("xl_max"){
        &._pc{
            display: none;
		}
	}
    
    ////// ここからpc
	&._pc{
        position: relative;
        z-index: 1;
		margin-top: 0;
		
		#top &{
			margin-top: -50px;
		}
        
		#{$this}-list{
			display: flex;
			justify-content: flex-end;
			margin: 0 auto;
			font-size: 14px;
			
			#top &{
				justify-content: center;
			}
		}
		
		#{$this}-item{
			position: relative;
			height: 90px;
			text-align: center;			
			background: #FFF;
            color: g.color('key');
            font-family: g.font('en');
			font-weight: bold;
			line-height: 1.6;
			
			#top &{
				height: 90px;
			}
			
			a{
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				padding: 0 18px;
				font-size: 1.0rem;

				@include g.mq('xxl') {
					min-width: 105px;
					font-size: 1.4rem;
				}
			
				#top &{
					padding: 0 30px;
					font-size: 1.2rem;

					@include g.mq('xxl') {
						font-size: 1.4rem;
					}
				}
			}
			span{
                display: block;
                font-family: g.font('source-han');
				font-weight: normal;
				font-size: 10px;
				
				#top &{
					font-size: 12px;
				}
			}
			&::before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 1px;
				height: 40px;
				border-left: 1px solid g.color('key');
			}
			&:first-child{
				&::before{
					border-left: none;
				}	
			}

			&.is-no{
				a{
					opacity: 0.4;
					cursor: default;
					pointer-events: none;
				}
			}

			#{$this}-minilist{
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				text-align: left;
				margin: 0 5px;
                font-family: g.font('source-han');
				
				@include g.mq('xxl') {
					margin: 0 20px;
				}
			}
			
			#{$this}-miniitem{
				a{
					min-width: auto;
					padding: 0 0 5px 0;
					font-size: 10px;

					#top &{
						padding: 0 0 5px 0;
						font-size: 12px;
					}
				}
			}
		}
		#{$this}-item._sns{
			a{
				min-width: auto;
			}
			&::before{
				width: 0;
				height: 0;
			}
		}
		#{$this}-snslist{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			margin: 0 10px;

			a{
				padding: 0;
				margin: 0 5px;
			}
		}
	}

    ////// ここからsp
	&._sp{
        #{$this}-trigger {
            position: fixed;
            top: 0;
            right: 0;
            width: map-get(g.$header_h, 'sm');
            height: map-get(g.$header_h, 'sm');
			z-index: map-get(g.$z_index, 'humberger');
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 8px;
        }

        #{$this}-bar {
            position: relative;
            width: 32px;
            height: 19px;
            
            &::before, &::after {
                content: "";
                position: absolute;
                background: g.color('key');
                width: 32px;
                height: 2px;
                transition: transform 0.1s ease-in;
            }
            
            &::before {
                top: 0;
                left: 0;
            }
            &::after {
                left: 0;
                bottom: 0;     
            }
            
            span {
                width: 32px;
                height: 2px;
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                background: 0 0;
                background: g.color('key');
            }
            &.active {
                &::before, &::after {
                    top: 50%;
                    margin-top: -1px;
					background: #FFF;
                }

                &::before {
                    transform: rotateZ(-45deg);
                }
                &::after {
                    transform: rotateZ(45deg);              
                }
                span {
                    background: 0 0;
                }
            }
        }

		#{$this}-bar-txt {
			font-family: g.font('en');
			font-size: 1rem;
			font-weight: bold;
			letter-spacing: 0.05em;
			line-height: 1;

			&.active {
				color: #fff;
			}
		}

        #{$this}-list {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			visibility: hidden;
			opacity: 0;
			padding-top: 96px;
			transition: opacity .6s ease, visibility .6s ease;
			background: g.color('key');
			overflow-y: auto;
			z-index: map-get(g.$z_index, 'gnav');
			
			&.open{
				visibility: visible;
				opacity: 1;
			}
        }

        #{$this}-item {
			margin: 0 40px;
            color: #fff;
			border-top: 1px solid #FFF;

            a {
                position: relative;
                display: block;
				padding: 15px 20px 15px 0;
				font-size: 1.4rem;
                font-family: g.font('source-han');
				font-weight: normal;

				
				&::before{
					content: "»";
					margin-right: 10px;
				}
            }

			&.is-no{
				a{
					opacity: 0.4;
					cursor: default;
					pointer-events: none;
				}
			}

            &._contact {
				@include g.btn;
				padding-bottom: 35px;

				a{
					position: relative;
					justify-content: center;
					width: 100%;
					max-width: 250px;
					height: 48px;
					margin: 15px auto 0;
					padding: 2px 30px 2px 10px;
					color: g.color('key');
					background: #FFF;
					font-size: 1.3rem;
					font-family: g.font('mincho');

					&::before{
						content: none;
					}
		
					i{
						position: absolute;
						top: 0;
						bottom: 0;
						right: 20px;
						width: 18px;
						height: 18px;
						margin: auto;
						
						img{
							width: 18px;
							height: 18px;
						}
					}
				}
            }
        }
	}
}