/*------------------------------------------------------------------------
	タイトル
------------------------------------------------------------------------*/
@use "../../global" as g;

.tit {
	position: relative;
	padding-bottom: 15px;
    font-family: g.font('en');
    line-height: 1.75;
    letter-spacing: 0.3em;
	color: g.color('base-light');
	text-align: center;
    font-size: 1.8rem;
	font-weight: bold;
	
	@include g.mq('md') {
		padding-bottom: 30px;
		font-size: 3.2rem;
		letter-spacing: 0.2em;
	}

	&::before{
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 83px;
		height: 1px;
		background-color: g.color('key');
	}
	
	span {
		display: block;
		font-family: g.font('source-han');
		font-weight: 500;
		font-size: 1rem;
		letter-spacing: 0.2em;
		
		@include g.mq('md') {
			font-size: 1.4rem;
		}
	}

	&.is-head{
		&::before{
			width: 0;
		}
	}
}


/*------------------------------------------
	head
------------------------------------------*/
.head{
	margin: 40px 0 30px;
	
	@include g.mq('md') {
		margin: 94px 0 68px;
	}
	
}