/**************************************************************************
    トップページ
**************************************************************************/
@use "../global" as g;

#top {


@mixin tit {
    text-align: center;
    color: g.color('key');

    h2 {
        position: relative;
        padding-bottom: 40px;
        font-family: g.font('en');
        font-size: 3.6rem;
        line-height: 1.75;
        letter-spacing: 0.3em;
    
        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 83px;
            height: 1px;
            background-color: g.color('key');
        }

        @include g.mq(sm) {
            padding-bottom: 15px;
            font-size: 1.8rem;

            &::before {
                width: 40px;
            }
        }
    }

    span {
        display: block;
        padding-top: 32px;
        font-family: YuMincho,'Yu Mincho',serif;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.5em;

        @include g.mq(sm) {
            padding-top: 25px;
            font-size: 1.2rem;   
        }
    }
}


/*------------------------------------------
	header
------------------------------------------*/
.header{
	background: #F5F5F0;
	
	@include g.mq('xl') {
		padding: 0 30px 0 30px;
	}

	&__logo{
		
		@include g.mq('xl') {
			width: 347px;
		}
	}
}

.cta-bnr{
	a{
		@include g.mq('xl') {
			height: 90px;
		}
	}
}

.un_achievements{
	padding: 140px 0 75px;
    background: url(../img/top/achievements_bg_sp.webp) center center / cover no-repeat;
	
	@include g.mq('md') {
		background: url(../img/top/achievements_bg_pc.webp) center center / cover no-repeat;
		padding: 170px 0 140px;
		margin-top: -50px;
	}

    &_txt{
        font-size: 1.2rem;
        padding: 10px 20px;
        background: #FFF;
        color: g.color('key');
        font-family: g.font('mincho');
        text-align: center;
        max-width: 590px;
        letter-spacing: 0.5em;
        line-height: 1.8;
        margin-inline: auto;
        margin-bottom: 60px;
		
		@include g.mq('md') {
			margin-bottom: 90px;
			font-size: 2.0rem;
		}
    }
}

.un_event{
	
	padding: 40px 0 100px;

	&__catch{
		max-width: 833px;
		margin-inline: auto;
		margin-bottom: 30px;
		
		@include g.mq('md') {
			font-size: 1.5rem;
		}
	}



	&_img{
		margin-bottom: 45px;
		
		@include g.mq('md') {
			width: 100%;
			max-width: 833px;
			margin-inline: auto;
			margin-bottom: 95px;
		}
	}

	&_btn{
		a{
			@include g.mq('md') {
				width: 450px;
				height: 100px;
				font-size: 2.4rem;
			}

			img{
				@include g.mq('md') {
					width: 33px;
					height: 33px;
				}
			}
		}
	}
}

.un_concept{
	contain: layout;
	margin-bottom: 60px;
	
	@include g.mq('md') {
		margin-bottom: 140px;
	}

	&_header{
		background-color: g.color('key');

		@include g.mq('sm') {
			padding-bottom: 70px;
		}
		
		@include g.mq('md') {
			height: 513px;
		}
	}

	&_header_inner{
		@include g.mq('md') {
			display: flex;
			justify-content: space-between;
			height: 100%;
		}
	}

	&_logo{
		
		@include g.mq('sm') {
			width: 60%;
			padding-top: 20px;
		}
		
		@include g.mq('md') {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-grow: 1;
		}
	}

	&_header_box{
		padding-top: 20px;
		
		@include g.mq('md') {
			padding-top: 60px;
			margin-right: -60px;
		}
	}

	&_title{
		position: relative;
		font-size: 1.0rem;
		font-family: g.font('mincho');
		font-weight: normal;
		line-height: 1.75;
		letter-spacing: 0.5em;
		color: g.color('key');
		background-color: #FFF;
		padding: 15px 0 15px 25px;
		max-width: 712px;
		margin-left:auto;
		
		@include g.mq('sm') {
			max-width: 290px;
			right: calc((100vw - 91vw) / 2 * -1);
		}
		
		@include g.mq('md') {
			padding: 35px;
			font-size: 2.0rem;
		}
	}

	&_img{
		margin-top: -30px;

		@include g.mq('sm') {
			margin-left: calc((100vw - 91vw) / 2 * -1);
		}
	}


	&_content{
		@include g.mq('md') {
			margin-top: 50px;
			display: flex;
			gap: 100px;
		}
	}


	&_list{
		flex: 0 0 auto;
		display: flex;
		flex-direction: column;
		gap: 10px;

		@include g.mq('sm') {
			align-items: flex-end;
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&_item{
		@include g.mq('sm') {
			position: relative;
			right: calc((100vw - 91vw) / 2 * -1);
			width: g.get_vw(250);
			margin-top: -50px;
		}
	}


	&_subtitle{
		margin-bottom: 20px;
		font-size: 1.6rem;
		font-family: g.font('mincho');
		font-weight: normal;
		line-height: 1.75;
		letter-spacing: 0.5em;
		
		@include g.mq('md') {
			margin-bottom: 30px;
			font-size: 2.0rem;
		}
	}

	&_box{
		@include g.mq('md') {
			margin-top: 270px;
		}
	}

	&_txt{
		font-size: 1.0rem;
		line-height: 2;
		
		@include g.mq('md') {
			font-size: 1.5rem;
		}
	}

	&_bottom_img{
		margin-top: 20px;
		width: 100vw;
		margin-left: calc((100vw - 91vw) / 2 * -1);
	}
}


/*------------------------------------------
	info
------------------------------------------*/
.info{
    height: 160px;
	padding-top: 20px;
	padding-bottom: 10px;
	background: g.color('key');
    color: #FFF; 
    @include g.mq(sm) {
		min-width: 100%;
        height: auto;
        padding: 30px 0;
    }
    
    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        @include g.mq(sm) {
            display: block;   
        }
    }

	&-area{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

		@include g.mq("sm") {
			flex-direction: column;
		}
	}
	&-tit{
        padding-right: 80px;
        padding-left: 40px;
        letter-spacing: 5px;
        font-family: g.font('en');
        font-size: 1.4rem;
		font-weight: normal;
		
		@include g.mq("sm") {
			padding: 0 0 15px 0;
			text-align: center;
		}
    }
    &-content {
        flex: 1;
        overflow-y: hidden;
    }
	&-dl{
        display: flex;
		@include g.mq("sm") {
			flex-direction: column;
		}
	}
	&-dt{
        padding-right: 20px;
		@include g.mq("sm") {
			font-size: 1.4rem;
        }
    }
    &-gotomore {
        width: 100%;
        margin-right: 195px;
        text-align: right;
        @include g.mq(sm) {
            margin-right: 0;
        }
    }
}


/*------------------------------------------
	blog
------------------------------------------*/
.blog{
	$this: &;
	padding: 110px 0 0;
	
	@include g.mq("sm") {
		padding: 55px 0 0;
	}

	.inner{
		padding: 0 60px;

		@include g.mq("sm") {
			padding: 0;
		}
	}

	&-tit{
        @include tit;
		padding-bottom: 90px;
		
		@include g.mq("sm") {
			padding-bottom: 45px;
		}
	}

	&-list{
		display: flex;
		justify-content: center;
		margin-left: -15px;

		@include g.mq("sm") {
			flex-wrap: wrap;
			margin-left: 0;
		}
	}

	&-item{
		position: relative;
		width: 33.3%;
		margin-left: 15px;

		@include g.mq("sm") {
			width: 100%;
			margin-bottom: 20px;
			margin-left: 0;
		}

		a{
			display: block;
		}

		#{$this}-img{
			img{
				height: auto;
			}
		}

		#{$this}-itit{
			margin-top: 10px;
			font-size: 1.5rem;
			border-bottom: 1px dotted #000;
		}

		#{$this}-date{
			font-size: 1.5rem;
			text-align: right;
		}

		&:first-child{
			&::after{
				content: "";
				position: absolute;
				top: -15px;
				right: -7px;
				width: 55px;
				height: 55px;
				background: url(../img/ico_new.svg) center center / contain no-repeat;
			}
		}
	}
	
    &-gotomore {
		width: 100%;
		padding: 70px 0 90px;
		text-align: center;
		
		@include g.mq("sm") {
			padding-top: 20px;
		}

		a {
			position: relative;
			display: inline-block;
			padding: 15px 110px 15px 100px;
			border: 1px solid g.color('key');
			color: g.color('key');
			font-family: g.font('en');
			font-weight: bold;
			font-size: 1.6rem;

			&::after{
				content: url(../img/common/icon_next_brown.svg);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 40px;
				margin: auto;
				width: 16px;
				height: 16px;
				line-height: 0;
			}
		}
		@include g.mq(sm) {
			margin-right: 0;
		}
    }
}


/*------------------------------------------
	slider
------------------------------------------*/
.slider{
	margin-bottom: 100px;
	
	@include g.mq('sm') {
		margin-bottom: 50px;
	}

	&-tit{	
        text-align: center;
        color: g.color('key');
    
        h2 {
            position: relative;
            padding-bottom: 40px;
            font-family: g.font('en');
            font-size: 3.6rem;
            line-height: 1.75;
            letter-spacing: 0.3em;
        
            &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 83px;
                height: 1px;
                background-color: g.color('key');
            }
    
            @include g.mq(sm) {
                padding-bottom: 15px;
                font-size: 1.8rem;
    
                &::before {
                    width: 40px;
                }
            }
        }
    
        span {
            display: block;
            padding-top: 32px;
            font-family: YuMincho,'Yu Mincho',serif;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.5em;
    
            @include g.mq(sm) {
                padding-top: 25px;
                font-size: 1.2rem;   
            }
        }
		padding-bottom: 60px;

		@include g.mq("sm") {
			padding-bottom: 30px;
		}
	}

	&-list{
		position: relative;
		margin: 0 60px;
		
		@include g.mq('sm') {
			margin: 0;
		}
	}

	.splide__arrow{
		width: 40px;
		height: 40px;
	}

	&-item{
		padding: 0 5px;
	}
}


/*------------------------------------------
	interview
------------------------------------------*/
.interview{
	margin-bottom: 100px;
	
	@include g.mq('sm') {
		margin-bottom: 50px;
	}
	
	.inner{
		padding: 0 60px;

		@include g.mq("sm") {
			padding: 0;
		}
	}

	&-tit{	
        @include tit;
		padding-bottom: 60px;

		@include g.mq("sm") {
			padding-bottom: 30px;
		}
	}

	&-list{
		display: flex;
		justify-content: space-between;
		margin-left: -25px;
		
		@include g.mq('sm') {
			flex-direction: column;
			margin-left: 0;
		}
	}

	&-item{
		margin-left: 25px;
		width: calc(100% / 3);
		
		@include g.mq('sm') {
			width: 100%;
			margin-left: 0;
			margin-bottom: 10px;
		}

		a{
			position: relative;

			img + img{
				position: absolute;
				width: 35%;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0.5;
			}
		}
	}
}
}

